In [213]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [246]:
first=pd.read_excel("C:\\Users\\welcome\\Desktop\\Marksheets 2075\\first\\IA.xlsx",sheet_name=0)
second=pd.read_excel("C:\\Users\\welcome\\Desktop\\Marksheets 2075\\second\\IA.xlsx",sheet_name=0)
final=pd.read_excel("C:\\Users\\welcome\\Desktop\\Marksheets 2075\\final\\IA.xlsx",sheet_name=0)
first.head()
first.rename(columns={'Unnamed: 1':'Name','Unnamed: 76':'Grand Total'},inplace=True)
first['Term']=1
first.drop(0,inplace=True)
first.drop(1,inplace=True)

In [247]:
first['CGPA']=first['Grand Total']

In [226]:
firstt=first[['Name','Grand Total','CGPA','Term']]
firstt.sort_values('Name')
firstt

                  Name Grand Total     CGPA  Term
2   Aadhya Shri Poudel     744.001  744.001     1
3   Aaradhya Dev Joshi     635.291  635.291     1
4       Arwin Tandukar     664.331  664.331     1
5       Ashrina Khanal     726.126  726.126     1
6     Bibechana Dangol     638.712  638.712     1
7        Dibrani Thapa     568.014  568.014     1
8     Ipsa Bajracharya      621.78   621.78     1
9      Krisab Tandukar     673.907  673.907     1
10  Livana Karmacharya     614.796  614.796     1
11        Nabha Dangol     657.517  657.517     1
12         Prapti Giri     645.975  645.975     1
13  Prasiddha Shrestha     525.475  525.475     1
14        Prabin Thapa     670.764  670.764     1
15       Pritha Khanal      607.06   607.06     1
16  Ramit Man Shrestha     601.261  601.261     1
17    Reshu Rani Singh     739.762  739.762     1
18  Rudrayani Shrestha     633.463  633.463     1
19       Salvia Kapali     559.396  559.396     1
20       Sambid Dhakal     604.294  604.294     1
21    Shiwanshu Kuikel     633.092  633.092     1
22    Siddhartha Malla     739.677  739.677     1
23         Sugam Karki     605.352  605.352     1
24    Yashaswi Pradhan      584.87   584.87     1

In [232]:
second.rename(columns={'Unnamed: 1':'Name','Unnamed: 163':'CGPA','Unnamed: 162':'Grand Total'},inplace=True)

# second.drop(0,inplace=True)
second.drop(1,inplace=True)
second['Term']=2

In [233]:
secondd=second[['Name','Grand Total','CGPA','Term']]
secondd.sort_values('Name')
secondd

                  Name Grand Total     CGPA  Term
2   Aadhya Shri Poudel      692.65  3.69413     2
3   Aaradhya Dev Joshi      603.95  3.22107     2
4       Arwin Tandukar      611.15  3.25947     2
5       Ashrina Khanal       667.6  3.56053     2
6     Bibechana Dangol       598.7  3.19307     2
7        Dibrani Thapa       508.5    2.712     2
8     Ipsa Bajracharya      578.65  3.08613     2
9      Krisab Tandukar       655.3  3.49493     2
10  Livana Karmacharya       568.4  3.03147     2
11        Nabha Dangol      551.65  2.94213     2
12         Prapti Giri       619.1  3.30187     2
13  Prasiddha Shrestha      464.85   2.4792     2
14        Prabin Thapa       612.2  3.26507     2
15       Pritha Khanal       599.7   3.1984     2
16  Ramit Man Shrestha       563.9  3.00747     2
17    Reshu Rani Singh       690.6   3.6832     2
18  Rudrayani Shrestha       569.7   3.0384     2
19       Salvia Kapali       525.5  2.80267     2
20       Sambid Dhakal      612.45   3.2664     2
21    Shiwanshu Kuikel       603.4  3.21813     2
22    Siddhartha Malla       700.1  3.73387     2
23         Sugam Karki      582.25  3.10533     2
24    Yashaswi Pradhan      546.05  2.91227     2

In [245]:
final.rename(columns={'Unnamed: 1':'Name','Unnamed: 163':'CGPA','Unnamed: 162':'Grand Total'},inplace=True)

final.drop(0,inplace=True)
final.drop(1,inplace=True)
final['Term']=3
final['Name'] = final['Name'].str.title()

KeyError: '[0] not found in axis'

In [237]:
finall=final[['Name','Grand Total','CGPA','Term']]
finall.sort_values('Name')
finall

                  Name Grand Total     CGPA  Term
2   Aadhya Shri Poudel     748.435  3.74217     3
3   Aaradhya Dev Joshi     653.803  3.26902     3
4       Arwin Tandukar     644.317  3.22158     3
5       Ashrina Khanal     740.942  3.70471     3
6     Bibechana Dangol     629.538  3.14769     3
7        Dibrani Thapa     597.087  2.98544     3
8     Ipsa Bajracharya     665.937  3.32968     3
9      Krisab Tandukar     698.667  3.49333     3
10  Livana Karmacharya     633.088  3.16544     3
11        Nabha Dangol     263.404  1.31702     3
12         Prapti Giri     671.171  3.35585     3
13  Prasiddha Shrestha     507.419   2.5371     3
14        Prabin Thapa     671.788  3.35894     3
15       Pritha Khanal     664.071  3.32035     3
16  Ramit Man Shrestha     533.026  2.66513     3
17    Reshu Rani Singh      752.14   3.7607     3
18  Rudrayani Shrestha      670.24   3.3512     3
19       Salvia Kapali     607.465  3.03733     3
20       Sambid Dhakal     659.287  3.29644     3
21    Shiwanshu Kuikel     652.987  3.26494     3
22    Siddhartha Malla     740.226  3.70113     3
23         Sugam Karki      595.46   2.9773     3
24    Yashaswi Pradhan     614.693  3.07347     3

In [238]:
wow=pd.concat([firstt,secondd,finall],ignore_index=True,sort=False)
wow

                  Name Grand Total     CGPA  Term
0   Aadhya Shri Poudel     744.001  744.001     1
1   Aaradhya Dev Joshi     635.291  635.291     1
2       Arwin Tandukar     664.331  664.331     1
3       Ashrina Khanal     726.126  726.126     1
4     Bibechana Dangol     638.712  638.712     1
5        Dibrani Thapa     568.014  568.014     1
6     Ipsa Bajracharya      621.78   621.78     1
7      Krisab Tandukar     673.907  673.907     1
8   Livana Karmacharya     614.796  614.796     1
9         Nabha Dangol     657.517  657.517     1
10         Prapti Giri     645.975  645.975     1
11  Prasiddha Shrestha     525.475  525.475     1
12        Prabin Thapa     670.764  670.764     1
13       Pritha Khanal      607.06   607.06     1
14  Ramit Man Shrestha     601.261  601.261     1
15    Reshu Rani Singh     739.762  739.762     1
16  Rudrayani Shrestha     633.463  633.463     1
17       Salvia Kapali     559.396  559.396     1
18       Sambid Dhakal     604.294  604.294     1
19    Shiwanshu Kuikel     633.092  633.092     1
20    Siddhartha Malla     739.677  739.677     1
21         Sugam Karki     605.352  605.352     1
22    Yashaswi Pradhan      584.87   584.87     1
23  Aadhya Shri Poudel      692.65  3.69413     2
24  Aaradhya Dev Joshi      603.95  3.22107     2
25      Arwin Tandukar      611.15  3.25947     2
26      Ashrina Khanal       667.6  3.56053     2
27    Bibechana Dangol       598.7  3.19307     2
28       Dibrani Thapa       508.5    2.712     2
29    Ipsa Bajracharya      578.65  3.08613     2
..                 ...         ...      ...   ...
39  Rudrayani Shrestha       569.7   3.0384     2
40       Salvia Kapali       525.5  2.80267     2
41       Sambid Dhakal      612.45   3.2664     2
42    Shiwanshu Kuikel       603.4  3.21813     2
43    Siddhartha Malla       700.1  3.73387     2
44         Sugam Karki      582.25  3.10533     2
45    Yashaswi Pradhan      546.05  2.91227     2
46  Aadhya Shri Poudel     748.435  3.74217     3
47  Aaradhya Dev Joshi     653.803  3.26902     3
48      Arwin Tandukar     644.317  3.22158     3
49      Ashrina Khanal     740.942  3.70471     3
50    Bibechana Dangol     629.538  3.14769     3
51       Dibrani Thapa     597.087  2.98544     3
52    Ipsa Bajracharya     665.937  3.32968     3
53     Krisab Tandukar     698.667  3.49333     3
54  Livana Karmacharya     633.088  3.16544     3
55        Nabha Dangol     263.404  1.31702     3
56         Prapti Giri     671.171  3.35585     3
57  Prasiddha Shrestha     507.419   2.5371     3
58        Prabin Thapa     671.788  3.35894     3
59       Pritha Khanal     664.071  3.32035     3
60  Ramit Man Shrestha     533.026  2.66513     3
61    Reshu Rani Singh      752.14   3.7607     3
62  Rudrayani Shrestha      670.24   3.3512     3
63       Salvia Kapali     607.465  3.03733     3
64       Sambid Dhakal     659.287  3.29644     3
65    Shiwanshu Kuikel     652.987  3.26494     3
66    Siddhartha Malla     740.226  3.70113     3
67         Sugam Karki      595.46   2.9773     3
68    Yashaswi Pradhan     614.693  3.07347     3

[69 rows x 4 columns]

In [239]:
# wow.groupby(['Name','CGPA'])['Grand Total'].sum()
wow1=wow.pivot(index='Name',columns='Term',values='Grand Total')
wow2=pd.DataFrame(wow1)
wow2['total']=wow2[1]+wow2[2]+wow2[3]
wow2

Term                      1       2        3    total
Name
Aadhya Shri Poudel  744.001  692.65  748.435  2185.09
Aaradhya Dev Joshi  635.291  603.95  653.803  1893.04
Arwin Tandukar      664.331  611.15  644.317   1919.8
Ashrina Khanal      726.126   667.6  740.942  2134.67
Bibechana Dangol    638.712   598.7  629.538  1866.95
Dibrani Thapa       568.014   508.5  597.087   1673.6
Ipsa Bajracharya     621.78  578.65  665.937  1866.37
Krisab Tandukar     673.907   655.3  698.667  2027.87
Livana Karmacharya  614.796   568.4  633.088  1816.28
Nabha Dangol        657.517  551.65  263.404  1472.57
Prabin Thapa        670.764   612.2  671.788  1954.75
Prapti Giri         645.975   619.1  671.171  1936.25
Prasiddha Shrestha  525.475  464.85  507.419  1497.74
Pritha Khanal        607.06   599.7  664.071  1870.83
Ramit Man Shrestha  601.261   563.9  533.026  1698.19
Reshu Rani Singh    739.762   690.6   752.14   2182.5
Rudrayani Shrestha  633.463   569.7   670.24   1873.4
Salvia Kapali       559.396   525.5  607.465  1692.36
Sambid Dhakal       604.294  612.45  659.287  1876.03
Shiwanshu Kuikel    633.092   603.4  652.987  1889.48
Siddhartha Malla    739.677   700.1  740.226     2180
Sugam Karki         605.352  582.25   595.46  1783.06
Yashaswi Pradhan     584.87  546.05  614.693  1745.61

In [244]:
wow2.sort_values('total',ascending=False)

Term                      1       2        3    total
Name
Aadhya Shri Poudel  744.001  692.65  748.435  2185.09
Reshu Rani Singh    739.762   690.6   752.14   2182.5
Siddhartha Malla    739.677   700.1  740.226     2180
Ashrina Khanal      726.126   667.6  740.942  2134.67
Krisab Tandukar     673.907   655.3  698.667  2027.87
Prabin Thapa        670.764   612.2  671.788  1954.75
Prapti Giri         645.975   619.1  671.171  1936.25
Arwin Tandukar      664.331  611.15  644.317   1919.8
Aaradhya Dev Joshi  635.291  603.95  653.803  1893.04
Shiwanshu Kuikel    633.092   603.4  652.987  1889.48
Sambid Dhakal       604.294  612.45  659.287  1876.03
Rudrayani Shrestha  633.463   569.7   670.24   1873.4
Pritha Khanal        607.06   599.7  664.071  1870.83
Bibechana Dangol    638.712   598.7  629.538  1866.95
Ipsa Bajracharya     621.78  578.65  665.937  1866.37
Livana Karmacharya  614.796   568.4  633.088  1816.28
Sugam Karki         605.352  582.25   595.46  1783.06
Yashaswi Pradhan     584.87  546.05  614.693  1745.61
Ramit Man Shrestha  601.261   563.9  533.026  1698.19
Salvia Kapali       559.396   525.5  607.465  1692.36
Dibrani Thapa       568.014   508.5  597.087   1673.6
Prasiddha Shrestha  525.475  464.85  507.419  1497.74
Nabha Dangol        657.517  551.65  263.404  1472.57

In [223]:


for name in firstt['Name']:
    df=pd.DataFrame(data=som,columns=['Name','Grand Total','CGPA'])
#     name=input('Name of the student')
    som1=firstt[firstt['Name'].str.contains(name,case=False)==True]
    som2=secondd[secondd['Name'].str.contains(name,case=False)==True]
    som3=finall[finall['Name'].str.contains(name,case=False)==True]
    #     som4=som1.append(som2)
    #     som5=som4.append(som3)
    som=pd.concat([som1,som2,som3],ignore_index=True)
    som1.append(df)
    som2.append(df)
    som3.append(df)

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)